version: '3.8'

services:
  redis:
    image: redis:7.2-alpine
    container_name: futsal-app
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio-futsal
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

  postgres:
    image: postgres:18
    container_name: futsal-postgres
    environment:
      POSTGRES_DB: futsal-db
      POSTGRES_USER: futsal_app_project
      POSTGRES_PASSWORD: rizki
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rizki -d futsal-db"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

volumes:
  redis_data:
  minio_data:
  postgres_data:

networks:
  app-network:
    driver: bridge